<style type="text/css">

body {
  background-image: url('https://images1.ocweekly.com/imager/u/original/8116990/big_lebowski_13.jpg');
}
.footer {
  position: fixed;
  bottom: 0;
}

</style>

<div class="container" style="margin: 240px;">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3" style= "margin-top: 60px; margin-bottom: 40px; color: white;">
      <%= simple_form_for [@cocktail], html: {class: 'form-inline'}  do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, placeholder: "White russian", html: {style: "margin-right: 10px;"}  %>
        <%= f.button :submit, class: "btn btn-treehouse", style: "margin-left: 200px;" %>
      <% end %>
    </div>
  </div>
</div>
