<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-name">
          <h2><%= @cocktail.name %></h2>
        </div>
      <div class="message">
        <div class="message-body">
          <% @cocktail.doses.each do |dose|%>
            <%= dose.description %>
            <%= dose.ingredient.name %>
            <br>
          <% end %>
        </div>
        <%= link_to "Add a ingredient", new_cocktail_dose_path(@cocktail) %>
      </div>
  </div>
</div>
