<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://cdn-image.travelandleisure.com/sites/default/files/1495660520/big-lebowski-still-LEBOWSKIFEST0517.jpg');">
  <div class="banner-content">
    <%=image_tag("sun.png")%>
    <h1>The Dude</h1>
    <p>F*ck it, Dude. Let’s go bowling.</p>
    <%= link_to "Add a White Russian", new_cocktail_path, class: "btn btn-treehouse" %>
    <%=  %>
  </div>
</div>

