<div class="footer">
  <div class="footer-links">
    <a href="http://uproxx.com/movies/20-big-lebowski-quotes/"><i class="fa fa-github"></i></a>
    <a href="http://uproxx.com/movies/20-big-lebowski-quotes/"><i class="fa fa-instagram"></i></a>
    <a href="http://uproxx.com/movies/20-big-lebowski-quotes/"><i class="fa fa-facebook"></i></a>
    <a href="http://uproxx.com/movies/20-big-lebowski-quotes/"><i class="fa fa-twitter"></i></a>
    <a href="http://uproxx.com/movies/20-big-lebowski-quotes/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    “Obviously you’re not a golfer.” — The Dude
  </div>
</div>
